# This is the settings file extension
*.cfg
# Hide the unity standard files folders
FirstGavinProject/Library
FirstGavinProject/Unity*
FirstGavinProject/ProjectSettings
FirstGavinProject/UserSettings
FirstGavinProject/Packages
FirstGavinProject/Assets
FirstGavinProject/.vscode
