# This is the settings file extension
*.cfg
# Hide the unity standard files folders
FirstGavinProject/Library
FirstGavinProject/Unity*
FirstGavinProject/ProjectSettings
FirstGavinProject/UserSettings
FirstGavinProject/Packages
# FirstGavinProject/Assets/Scenes
FirstGavinProject/.vscode
FirstGavinProject/Logs
FirstGavinProject/obj
FirstGavinProject/Doc*
FirstGavinProject/Assembly*
FirstGavinProject/Separate*
FirstGavinProject/PsdP*
FirstGavinProject/Temp
# QuizTest folders
QuizTest/Library
QuizTest/Unity*
QuizTest/ProjectSettings
QuizTest/UserSettings
QuizTest/Packages
QuizTest/.vscode
QuizTest/Logs
QuizTest/obj
QuizTest/Doc*
QuizTest/Assembly*
QuizTest/Separate*
QuizTest/PsdP*
QuizTest/Temp
QuizTest/Assets/TextMesh Pro